/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .like:hover {
   text-decoration:  none;
 }

 .unlike:hover {
   text-decoration:  none;
 }

 body{
   font-family: 'Raleway', sans-serif;
 }

 h1,h2,h3,h4,h5,h6,p,ul,li{
   color: #424652
 }

 h1 a{
   font-size: 2,5rem;
   text-decoration: none;
 }

 h2{
   font-size: 2rem;
 }

 h3  {
   font-size: 1,5rem;
 }
 h3 a{
   text-decoration: none;
   color: #424652;
 }
 h3 a:hover{
   text-decoration: none;
   color: #8bc6db;
 }

 h4  {
   font-size: 1.375rem;
 }

 h5{
   font-size: 1.25rem;
 }

 h6{
   font-size: 1rem;
 }

 p,li{
   font-size: 1.1rem;
 }

 p, ul, ol{
   margin: 0 0 1.6em 0;
 }

 hr{
   width: 3em;
   display: block;
   height: 2px;
   border: 0;
   border-top: 2px solid #8bc6db;
   margin: 2rem 0;
 }

.container{
   font-family: 'Raleway', sans-serif;
  background-color:#fd600c;
}

.post_box{
  background-color: #e4eddd;
}

.nav{
  padding: 10px;
}
.logo{
  padding: 1px;
}


#posts_list{
  text-align: center;
  border-left: 0.5px solid #e9e9e9;
  border-top:  0.5px solid #e9e9e9;

  padding: 0.75em 1rem;
  text-decoration: none;
}
#main_navigation {
  padding: 2.5em 5%;
    border-bottom: 1px solid #e9e9e9;
}
#main_navigation .name {
  font-weight: 700;
  font-size: 0.85em;
  color: #424652;
  text-transform: uppercase;
  border: 2px solid #e9e9e9;

  padding: 0.75em 1rem;
  text-decoration: none;
}
#main_navigation nav {
  float: right;
}
#main_navigation nav a {
  color: #424652;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.welcome{
    background-color: #41BF7B;
    color: #41BF7B;
    width: auto;
    height: auto;
    padding: 100px 100px 100px 100px;
    margin: 10px 10px 10px 10px;
}

.welcome p{
       font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 22px;
        text-align: center;
}
